sparqlwrapper
beautifulsoup4
git+https://github.com/WDscholia/scholia
tqdm
pandas
numpy
networkx
matplotlib
scipy
seaborn
circlify
re
fa2_modified
wordcloud
python-louvain
scikit-learn
matplotlib
SPARQLWrapper==2.0.0
